#kera-scoreboard-container {
	@import 'sprites.tmp';

	.icon {
		display: inline-block;
	}

	.icon-small {
		zoom: 0.5;
	}

	.options-toggle {
		padding: 3px;
		cursor: pointer;

		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 3;

		opacity: 100%;
		transition: opacity 1s;

		&.hidden {
			opacity: 0%;
		}

		.hide {
			display: none !important;
			visibility: hidden;
		}

		.icon {
			vertical-align: bottom;
		}
	}
}
